{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="container">
        <a href="posts.html" class="btn">Back To Posts</a>
        <div class="post bg-white p-1 my-1">
            <div>
                <a href="profile.html">
                    <img class="round-img"
                         src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
                         alt=""/>
                    <h4>John Doe</h4>
                </a>
            </div>
            <div>
                <p class="my-1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                    possimus corporis sunt necessitatibus! Minus nesciunt soluta
                    suscipit nobis. Amet accusamus distinctio cupiditate blanditiis
                    dolor? Illo perferendis eveniet cum cupiditate aliquam?
                </p>
            </div>
        </div>
        <div class="post-form">
            <div class="post-form-header bg-primary">
                <h3>Leave A Comment</h3>
            </div>
            <form class="form my-1">
                <textarea name="text" cols="30" rows="5" placeholder="Comment on this post"></textarea>
                <input type="submit" class="btn btn-dark my-1" value="Submit" />
            </form>
        </div>
        <div class="posts">
            <div class="post bg-white p-1 my-1">
                <div>
                    <a href="profile.html">
                        <img class="round-img"
                             src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
                             alt=""/>
                        <h4>John Doe</h4>
                    </a>
                </div>
                <div>
                    <p class="my-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                        possimus corporis sunt necessitatibus! Minus nesciunt soluta
                        suscipit nobis. Amet accusamus distinctio cupiditate blanditiis
                        dolor? Illo perferendis eveniet cum cupiditate aliquam?
                    </p>
                </div>
            </div>
            <div class="post bg-white p-1 my-1">
                <div>
                    <a href="profile.html">
                        <img class="round-img"
                             src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
                             alt=""/>
                        <h4>John Doe</h4>
                    </a>
                </div>
                <div>
                    <p class="my-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                        possimus corporis sunt necessitatibus! Minus nesciunt soluta
                        suscipit nobis. Amet accusamus distinctio cupiditate blanditiis
                        dolor? Illo perferendis eveniet cum cupiditate aliquam?
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
