asgiref==3.5.0
autopep8==1.6.0
click==8.1.2
colorama==0.4.4
Django==4.0.4
django-debug-toolbar==3.3.0
djlint==1.0.0
importlib-metadata==4.11.3
pathspec==0.9.0
Pillow==9.1.0
pycodestyle==2.8.0
PyYAML==6.0
regex==2022.4.24
sqlparse==0.4.2
toml==0.10.2
tomlkit==0.10.2
tqdm==4.64.0
tzdata==2022.1
zipp==3.8.0
