{% load static %}
<div class="post bg-white p-1 my-1" id="{{ comment.pk }}">
    <div>
        <a href="profile.html">
            <img class="round-img"
                 src=" {% if comment.author.picture %} {{ comment.author.picture.url }} {% else %} {% static 'img/default_profile.png' %} {% endif %}"
                 alt=""
                 srcset="">
            <h4>{{ comment.username }}</h4>
        </a>
    </div>
    <div>
        <p class="my-1">
            {{ comment.body }}
        </p>
        <button class="btn">
            <i class="fas fa-thumbs-up"></i> <span>{{ comment.like_count }}</span>
        </button>
        <button class="btn">
            <i class="fas fa-thumbs-down"></i><span>{{ comment.dislike_count }}</span>
        </button>
    </div>
</div>
{% if comment.comment %}
    <div class="comments">
        {% for subcomment in comment.comment.all %}
            {% include 'blog/_comment.html' with comment=subcomment %}
        {% endfor %}
    </div>
{% endif %}
