{% load static %}
<div class="post bg-white p-1 my-1">
    <div>
        <a href="{{post.author.get_absolute_url}}">
            <img class="round-img"
                 src="{% if post.author.picture %}{{post.author.picture.url }}{% else %}{% static 'img/default_profile.png' %}{% endif %}"
                 alt=""
                 srcset="">
            <h4>{{ post.username }}</h4>
        </a>
    </div>
    <div>
        <h1>{{ post.title }}</h1>
        <p class="my-1">
            {{ post.body }}
        </p>
        <button class="btn">
            <i class="fas fa-thumbs-up"></i> <span>{{ post.like_count }}</span>
        </button>
        <button class="btn">
            <i class="fas fa-thumbs-down"></i><span>{{ post.dislike_count }}</span>
        </button>
        <a href="post.html" class="btn btn-primary">Discussion

            <span>{{ post.comments_count }}</span>
        </a>
        
       
    </div>
</div>
